* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: rgb(188, 6, 6);
  transition: 0.5s;
}

a:hover {
  color: rgb(210, 4, 4);
}
